{% extends 'destaques/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}This is a generic home for destaque_app {% endtrans %}  </h1>
                <a href="{{ new_path }}" class="btn btn-success">{% trans %}Create New Destaques{% endtrans %}</a>
                <hr/>
                <h2>{% trans %}List of Destaquess{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th/>
                        <th>{% trans %}Id{% endtrans %}</th>
                        <th>{% trans %}Creation{% endtrans %}</th>
                        <th>{% trans %}Destino{% endtrans %}</th>
                        <th>{% trans %}Preco{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for destaques in destaquess %}
                        <tr>
                            <td><a href="{{ destaques.edit_path }}" class="btn btn-success btn-sm"><i
                                    class="glyphicon glyphicon-pencil"></i></a></td>
                            <td>{{ destaques.id }}</td>
                            <td>{{ destaques.creation }}</td>
                            <td>{{ destaques.destino }}</td>
                            <td>{{ destaques.preco }}</td>
                            <td>
                                <form action="{{ destaques.delete_path }}" method="post" onsubmit="return confirm('{{_('Are you sure to delete? Press cancel to avoid deletion.')}}');">
                                    {{ csrf_input() }}
                                    <button class="btn btn-danger btn-sm"><i
                                            class="glyphicon glyphicon-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}