{% extends 'base/base.html' %}
<!--<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Viaje Bem</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="static/bootstrap/less/bootstrap.less" type="text/css"-->
	<!--link rel="stylesheet/less" href="static/bootstrap/less/responsive-utilities.less" type="text/css"-->
	<!--script src="static/bootstrap/js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
	<link href="static/css/style.css" rel="stylesheet">
	<link href="static/css/default.css" rel="stylesheet">
{% endblock %}

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>-->{% block body %}
<div class="container">
<!--	<div class="row clearfix">
        <div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a href="/home"><img src="static/img/logo.png" width="90" height="50" alt="Viaje Bem"/></a>
                </div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="#">Ranking</a>
						</li>
						<li>
							<a href="#">Promoções</a>
						</li>
                        <li class="active">
							<a href="/destaques">Destaques</a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pesquisa por Estado<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Acre</a>
                                </li>
                                <li>
                                    <a href="#">Alagoas</a>
                                </li>
                                <li>
                                    <a href="#">Amapá</a>
                                </li>
                                <li>
                                    <a href="#">Amazonas</a>
                                </li>
                                <li>
                                    <a href="#">Bahia</a>
                                </li>
                                <li>
                                    <a href="#">Ceará</a>
                                </li>
                                <li>
                                    <a href="#">Distrito Federal</a>
                                </li>
                                <li>
                                    <a href="#">Espírito Santo</a>
                                </li>
                                <li>
                                    <a href="#">Goiás</a>
                                </li>
                                <li>
                                    <a href="#">Maranhão</a>
                                </li>
                                <li>
                                    <a href="#">Mato Grosso</a>
                                </li>
                                <li>
                                    <a href="#">Mato Grosso do Sul</a>
                                </li>
                                <li>
                                    <a href="#">Minas Gerais</a>
                                </li>
                                <li>
                                    <a href="#">Pará</a>
                                </li>
                                <li>
                                    <a href="#">Paraíba</a>
                                </li>
                                <li>
                                    <a href="#">Paraná</a>
                                </li>
                                <li>
                                    <a href="#">Pernambuco</a>
                                </li>
                                <li>
                                    <a href="#">Piauí</a>
                                </li>
                                <li>
                                    <a href="#">Rio de Janeiro</a>
                                </li>
                                <li>
                                    <a href="#">Rio Grande do Norte</a>
                                </li>
                                <li>
                                    <a href="#">Rio Grande do Sul</a>
                                </li>
                                <li>
                                    <a href="#">Rondônia</a>
                                </li>
                                <li>
                                    <a href="#">Roraima</a>
                                </li>
                                <li>
                                    <a href="#">Santa Catarina</a>
                                </li>
                                <li>
                                    <a href="#">São Paulo</a>
                                </li>
                                <li>
                                    <a href="#">Sergipe</a>
                                </li>
                                <li>
                                    <a href="#">Tocantins</a>
                                </li>
                            </ul>
                        </li>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input class="form-control" type="text">
                            </div> <button type="submit" class="btn btn-default">Pesquisar</button>
                        </form>
					</ul>
				</div>

			</nav>
		</div>
	</div>-->
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				Porto de Galinhas
			</h2>
            <div class="imgDesc">
                <img src="static/img/portodegalinhas.jpg">
            </div>
        </div>
        <div class="col-md-8 column">
			<p class="descricao">
				Localizada no município de Ipojuca, a 70 quilômetros de Recife, Porto de Galinhas é emoldurada por piscinas naturais com águas mornas e transparentes repletas de peixes coloridos e jangadas deslizando de um lado para o outro na maré baixa. Mas tem também praias com ondas fortes, perfeitas para a prática de surf - não é à toa que a praia de Maracaípe é um dos cenários do Campeonato Mundial de Surf, sediando as etapas do mês de outubro. Os esportes náuticos, aliás, vêm ganhando cada vez mais adeptos na região, transformando a praia de Muro Alto em point dos apaixonados por esqui aquático, wakeboard e jet-ski.
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				Gramado
			</h2>
            <div class="imgDesc">
                <img src="static/img/gramado.jpg">
            </div>
        </div>
        <div class="col-md-8 column">
			<p class="descricao">
				O clima europeu de Gramado não está apenas na temperatura - que pode baixar de zero no inverno -, mas também na arquitetura, na culinária, nos jardins de hortênsias e, principalmente, no rosto dos moradores, de origem alemã e italiana. Logo na entrada da cidade, um pórtico em estilo normando e outro de influência bávara recebem o turista e já mostra que não faltará beleza e organização.Gramado é um dos poucos lugares no Brasil em que planejamento de turismo foi levado a sério. Do transporte às atrações turísticas, tudo funciona muito bem com o objetivo de atender os visitantes. Por esse motivo, ao contrário de outras cidades brasileiras, a cidade permanece cheia a ano todo, não só na alta temporada.
			</p>
		</div>
	</div>
		<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				Brotas
			</h2>
            <div class="imgDesc">
                <img src="static/img/brotas.jpg">
            </div>
        </div>
        <div class="col-md-8 column">
			<p class="descricao">
				Engana-se quem acha que vai conhecer Brotas em apenas um fim de semana. Há atividades suficientes para mais de uma visita. Rafting, bóia-cross, arvorismo, tirolesa, rapel, canyoning, cavalgadas e muitos outros esportes podem ser feitos na cidade, que também tem uma gama de atrações para quem não gosta de sentir frio na barriga.
			</p>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				Lençóis Maranhenses
			</h2>
            <div class="imgDesc">
                <img src="static/img/lencois-topo.jpg">
            </div>
        </div>
        <div class="col-md-8 column">
			<p class="descricao">
				Considerado um dos destinos mais bonitos do país, os Lençóis Maranhenses combinam quilômetros e quilômetros de dunas branquinhas pontilhadas por lagoas de água doce, ora azuis, ora verdes. A porta de entrada para o paraíso, protegido pelo status de Parque Nacional, é o município de Barreirinhas. De lá, é dada a largada para a exploração do cenário, que fica ainda mais exuberante entre os meses de junho e setembro, quando as lagoas estão completamente cheias.
			</p>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				Pico de Neblina
			</h2>
            <div class="imgDesc">
                <img src="static/img/Pico_da_Neblina.jpg">
            </div>
        </div>
        <div class="col-md-8 column">
			<p class="descricao">
				Chegar ao ponto mais alto do Brasil, o Pico da Neblina, com 3.014 m de altitude, é um sonho para qualquer montanhista brasileiro. Encravada no noroeste do estado do Amazonas, essa montanha em forma triangular já atraiu andarilhos de diversos outros países. Mesmo com o status de ser o topo do Brasil (e o ponto mais alto da América do Sul à parte dos Andes), é um lugar muito pouco visitado. O livro de registro de entrada no Parque Nacional do Pico da Neblina mostra que menos de 300 pessoas já tiveram o privilégio de estar no meio da famosa neblina, que dá o nome ao pico.
			</p>
		</div>
	</div>
</div>
</div>
<!--</body>
</html>-->
{% endblock %}